.form-wrapper, button {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid;
}

.form-wrapper {
    background-color: white;
    color: black;
    width: 30%;
    margin: auto;
}

fieldset {
    border: 0;
}

input[type=text], input[type=password] {
    margin: auto;
    color: black;
    border-radius: 5px;
    width: 100%;
}
